.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.team .team-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5rem 0;
}

.team .team-section .heading {
  font-family: Girassol;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 20px;
  color: #FFFFFF;
}

.team .team-section .subHeading {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #99AAB5;
  width: 80%;
  margin-bottom: 3rem;
}

.team .team-section .team-grid {
  display: -ms-grid;
  display: grid;
  width: 90%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 3rem;
}

.team .team-section .team-grid .team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team .team-section .team-grid .team-card .profile-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -20%;
  z-index: 2;
}

.team .team-section .team-grid .team-card .team-card-bg {
  background: rgba(32, 38, 40, 0.5);
  border-radius: 1px;
  padding: 2rem 1rem;
  padding-top: 4rem;
}

.team .team-section .team-grid .team-card .team-card-bg .name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18.1125px;
  line-height: 27px;
  color: #CFE4FC;
  margin-bottom: 5px;
}

.team .team-section .team-grid .team-card .team-card-bg .position {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12.075px;
  line-height: 18px;
  color: #2F84E5;
  margin-bottom: 3px;
}

.team .team-section .team-grid .team-card .team-card-bg .description {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10.5050px;
  line-height: 16px;
  color: #99AAB5;
  margin-bottom: 7px;
}

.team .team-section .team-grid .team-card .team-card-bg .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.team .team-section .team-grid .team-card .team-card-bg .social .social-icon {
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */