/*------------------Styles for FAQ-----------------------*/
.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.faq .title {
  font-family: Girassol;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 40px;
  margin-bottom: 3rem;
  text-align: center;
  color: #FFFFFF;
}

.faq .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 1rem;
}

/*---------------Styles for Accordion------------------*/
.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
}

.accordion .accordion-question {
  position: relative;
  padding-right: 40px;
  text-align: left;
  font-family: Girassol;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion .accordion-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  text-align: left;
  background-image: url("./faq-expand.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion .accordion-answer {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #CFE4FC;
  text-align: left;
}

.accordion-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
}

.accordion-open .accordion-question {
  position: relative;
  padding-right: 40px;
  text-align: left;
  font-family: Girassol;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-bottom: 15px;
}

.accordion-open .accordion-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  text-align: left;
  background-image: url("./faq-expand.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.accordion-open .accordion-answer {
  max-height: 1000px;
  opacity: 1;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #CFE4FC;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */