.about{
    display:flex;
    flex-direction:row;
    width:100%;
    height:"fit-content";

    .about-text{
        width:66%;

        .about-title{}

        .about-description{}
    }

    .logo{
        
    }
}