.about{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:center;
    margin:0rem 1rem;
    align-items:center;

    .about-text{
        width:60%;
        margin-right:2rem;
        // text-align:left;
        text-align: center;

        .about-title{
            font-family: Girassol;
            font-style: normal;
            font-weight: normal;
            font-size: 64px;
            line-height: 76px;
            color: #FFFFFF;
            margin-bottom: 3rem;
        }

        .about-description{
            margin-top:0.5rem;
            font-family: Jost;
            font-style: normal;
            font-weight: 500;
            font-size: 140%;
            line-height: 23px;
            color: #CFE4FC;
        }
    }

    .logo{
        width:25%;
        height:auto;
    }
}

@media (max-width: 769px){
    .about{
        .about-text{
            .about-title{
                margin-top: 2rem;
            }
        }
    }
    // .about .about-text .about-title
}

@media (max-width : 480px){
    .about{

        .about-text{
            width: 90%;
            text-align: center;
            margin: 0%;

            .about-title{
                font-size: 50px;
                margin-top: 0%;
            }

            .about-description{
                font-size: 15px;
            }
        }

        .logo{
            display: none;
        }
    }
}