.tracks{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;

    .heading{
        color: #fff;
        font-family: Girassol;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 76px;
        text-align: center;
    }

    .subHeading{
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        color: #99AAB5;
        width:80%;
        margin-top: 0%;
        margin-bottom: 3rem;
    }

    .sw-contain{
        width: 95%;
        
        .swiper-container {
            width: 90%;
            padding-top: 50px;
            padding-bottom: 50px;
            background: linear-gradient(90deg, #021224 0%, rgba(2, 18, 36, 0) 15.81%, rgba(2, 18, 36, 0) 86.13%, #021224 100%);
        }
          
        .swiper-slide {
            background-position: center;
            background-size: cover;
            height: fit-content;
            width: fit-content;
            background: linear-gradient(90deg, #021224 0%, rgba(2, 18, 36, 0) 15.81%, rgba(2, 18, 36, 0) 86.13%, #021224 100%);
            display: flex;
            justify-content: center;

            .card_continer{
                width: 85%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 15%;
                margin-top: 10%;
            
               .black_container{
                   width: 100%;
                   display: flex;
                   flex-direction: column;
                   z-index: 1;
                   background-color: rgba(32, 38, 48, 0.5);
                   border-radius: 6.03749px;
                   position: relative;
                   padding-top: 25%;
                   padding-bottom: 5%;
            
                   .imge{
                        width: 50%;
                        height: 65%;
                        z-index: 2;
                        justify-self: center;
                        border-radius: 50%;
                        position: absolute;
                        top: -35%;
                        left: 25%;
                    }
            
                   .matter{
                       height: 100%;
                       display: flex;
                       margin-left: 0%;
                       flex-direction: column;
                       justify-content: flex-end;
                       align-items: center;
                       .name{
                           font-family: Poppins;
                           font-style: normal;
                           font-weight: 600;
                           font-size: 160%;
                           line-height: 27px;
                           color: #CFE4FC;
                           margin: 2% 0%;
                       }
                       
                       .work{
                           font-family: Poppins;
                           font-style: normal;
                           font-weight: 600;
                           font-size: 100%;
                           line-height: 18px;
                           text-transform: uppercase;
                           margin: 2% 0%;
                           color: #2F84E5;
                       }
                       
                       .m_work{
                           font-family: Poppins;
                           font-style: normal;
                           font-weight: 500;
                           font-size: 10.5656px;
                           line-height: 16px;
                           color: #99AAB5;
                           margin: 2% 0%;
                       }
            
                       .social{
                           display: flex;
                           list-style: none;
                           margin: 3% 0%;
                           padding-left: 0%;
                           justify-content:center;
            
                           .slogo{
                               margin-right: 20%;
                           }
                       }
                   }
               }          
            }
        }
    }
    .sw-contain-mobile{
        display: none;
    }
}

@media screen and (max-width : 1000px){
    .tracks{
        .sw-contain{
            .swiper-slide{
                .card_continer{
                    .black_container{
                        .matter{
                            .name{
                                font-size: 110%;
                            }
                            .work{
                                font-size: 75%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 500px){
    .tracks{
        width:100%;
        .heading{
            font-size: 50px;
            margin-bottom: 5%;
        }
        .sw-contain{
            display: none;
        }
        .sw-contain-mobile{
            display: flex;
            width: 90%;

            .swiper-container {
                width: 100%;
                padding-top: 50px;
                padding-bottom: 50px;
                background: linear-gradient(90deg, #021224 0%, rgba(2, 18, 36, 0) 15.81%, rgba(2, 18, 36, 0) 86.13%, #021224 100%);
            }
              
            .swiper-slide {
                background-position: center;
                background-size: cover;
                height: fit-content;
                width: fit-content;
                background: linear-gradient(90deg, #021224 0%, rgba(2, 18, 36, 0) 15.81%, rgba(2, 18, 36, 0) 86.13%, #021224 100%);
                display: flex;
                justify-content: center;

                .card_continer{
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    margin-bottom: 15%;
                    margin-top: 10%;
                
                    .black_container{
                        width: 90%;
                        display: flex;
                        flex-direction: column;
                        z-index: 1;
                        background-color: rgba(32, 38, 48, 0.5);
                        border-radius: 6.03749px;
                        position: relative;
                        padding-top: 25%;
                        padding-bottom: 5%;
                 
                        .imge{
                             width: 50%;
                             height: 65%;
                             z-index: 2;
                             justify-self: center;
                             border-radius: 50%;
                             position: absolute;
                             top: -35%;
                             left: 25%;
                         }
                 
                        .matter{
                            height: 100%;
                            display: flex;
                            margin-left: 0%;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: center;
                            .name{
                                font-family: Poppins;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 160%;
                                line-height: 27px;
                                color: #CFE4FC;
                                margin: 2% 0%;
                            }
                            
                            .work{
                                font-family: Poppins;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 100%;
                                line-height: 18px;
                                text-transform: uppercase;
                                margin: 2% 0%;
                                color: #2F84E5;
                            }
                            
                            .m_work{
                                font-family: Poppins;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 10.5656px;
                                line-height: 16px;
                                color: #99AAB5;
                                margin: 2% 0%;
                            }
                 
                            .social{
                                display: flex;
                                list-style: none;
                                margin: 3% 0%;
                                padding-left: 0%;
                                justify-content:center;
                 
                                .slogo{
                                    margin-right: 20%;
                                }
                            }
                        }
                    }         
                }
            }
        }
    }
}

// @media screen and (max-width : 100px){
//     .tracks{
//         .sw-contain{

//             .swiper-container{
//                 // width: 90%;
//                  width: 375px;
//             }

//             .swiper-slide{
//                 width: 100%;
//                 .container{
//                     width:100%;
//                 }
//             }
//         }
//     }
// }
  