.sponsor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title{
        font-family: Girassol;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 76px;
        color: #FFFFFF;
    }

    .sponsor-category{
        

        .category-title{
            font-family: Jost;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 46px;
            color: #CFE4FC;
        }

        .sponsor-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            column-gap: 1rem;
            row-gap: 1rem;
            
            .sponsor{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                height: 90%;
                padding: 0 2rem;
            }
        }
    }
}

@media (max-width : 480px){
    .sponsor{
        margin: auto;
        width:90%;
        .title{
            font-size:50px;
        }

        .sponsor-category{
            margin:auto;
            .category-title{
                font-size:25px;
            }
            .sponsor-grid{
                margin: auto;
                // flex-direction: row;
                // flex-wrap: wrap;
                // width: 90%;
                .sponsor{
                    padding: 0%;
                    width: fit-content;
                    display: inline-block;
                    margin: auto;
                }
            }
        }
    }
}