.footer {
  padding: 0.5rem 0;
}

.footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contact .name {
  font-family: Girassol;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.footer .contact .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20%;
}

.footer .contact .social-media .media {
  font-size: 25px;
  border-radius: 20px;
}

.did-register {
  background: #031932;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.did-register .box-image {
  width: 55%;
}

.did-register .right-flex {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.did-register .right-flex .title {
  font-family: Girassol;
  font-style: normal;
  font-weight: normal;
  font-size: 74px;
  line-height: 76px;
  text-align: right;
  color: #FFFFFF;
}

.did-register .right-flex .text {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: right;
  color: #CFE4FC;
  margin-bottom: 1rem;
}

.did-register .right-flex .button-shape {
  border-radius: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 24px;
  padding: 0.7rem 1.3rem;
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
  background: linear-gradient(94.47deg, #3579C5 0%, #003570 100%);
}

@media (max-width: 480px) {
  .footer .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 1rem;
  }
  .footer .contact .social-media {
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */