.timeline{
    display:flex;
    flex-direction:column;
    color:#FFFFFF;
    align-items:center;
    width:100%;
    background: radial-gradient(47.52% 47.52% at 50% 50%, rgba(7, 41, 80, 0) 0%, rgba(2, 18, 36, 0.118415) 16.33%, rgba(2, 18, 36, 0.291016) 37.17%, rgba(2, 18, 36, 0.503447) 58.58%, rgba(2, 18, 36, 0.675334) 72.92%, #021224 100%) , url(timeline-bg.png);

    .title{
        font-family: Girassol;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 40px;
        margin-bottom:3rem;
        text-align:center;
    }

    .flexbox{
        display:flex;
        flex-direction:row;
        justify-content:normal;
        margin:0rem 1rem;
        width:-webkit-fill-available;
        align-items:center;

        .timeline-left{
            margin:0rem 5rem;
            font-size:1.3rem;    
        }

        .timeline-center{
            margin-top:25px;
            .dotline{
                height: 820px;
            }
        }

        .timeline-right{
            width:fit-content;

            .milestone{
                text-align:left;
                margin-left:-18px;
                display:flex;
                flex-direction:row;
                align-items:center;

                .description{
                    margin:-0.7rem 1rem;

                    .heading {
                        font-family: Girassol;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 29.4122px;
                        color:#FFFFFF;
                        margin-bottom:-20px;
                    }

                    .date{
                        font-family: Jost;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        color: #CFE4FC;   
                    }
                }
            }
        }

    }
}

@media screen and (max-width:768px) {
    .timeline{
        display:flex;
        flex-direction:column;
        color:#FFFFFF;
        align-items:center;
        width:100%;
        
        .title{
            font-size: 38px;
        }

        .flexbox{
            .timeline-left{
                display: none;
            }

            .timeline-center{
                margin-left: 2%;
                .dotline{
                    height: 750px;
                }
            }

            .timeline-right{

                .milestone{

                    .description{

                        .heading{
                            font-size: 25px;
                        }

                    }
                }
            }
        }
    }
    
}

@media screen and (max-width:360px) {
    .timeline{

        .flexbox{

            .timeline-center{
                margin-left: 5%;
            }

            .timeline-right{

                .milestone{

                    .description{

                        .heading{
                            font-size: 19px;
                        }

                    }
                }
            }
        }
     }
}